@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  height: 100%;
  position: relative;
  z-index: 9;
}

/* @media (min-width: 1080px) {
  body::before {
    content: "";
    display: block;
    height: 100%;
    width: 30%;
    background-color: rgba(255, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
} */

html,
#root {
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
